<div>
    <h2>Recipe edit</h2>
    <input type="text" [(ngModel)]="recipe.title" placeholder="Titre"><br>
    <input type="text" [(ngModel)]="recipe.category.title" placeholder="Catégorie"><br>
    <input type="text" [(ngModel)]="recipe.content" placeholder="Description"><br>
    <input type="text" [(ngModel)]="recipe.image" placeholder="Image"><br>
    <input type="text" [(ngModel)]="recipe.favorite" placeholder="Favori"><br>
    <input type="text" [(ngModel)]="recipe.time" placeholder="Temps de préparation"><br>
    <input type="text" [(ngModel)]="recipe.difficulty" placeholder="Difficulté"><br>
    <input type="text" [(ngModel)]="recipe.portions" placeholder="Portions"><br>
    
    <button (click)="updateRecipe()">Modifiez la recette</button>
</div>
