<div>
    <h2>Recipe add</h2><br>
    <input type="text" [(ngModel)]="recipe.title" placeholder="Recipe Title"><br>
    <input type="text" [(ngModel)]="recipe.category.title" placeholder="Recipe Category"><br>
    <input type="text" [(ngModel)]="recipe.content" placeholder="Recipe Description"><br>
    <input type="text" [(ngModel)]="recipe.image" placeholder="Recipe Image"><br>
    <input type="text" [(ngModel)]="recipe.favorite" placeholder="Favorite"><br>
    <input type="number" [(ngModel)]="recipe.time" placeholder="Preparation Time"><br>
    <input type="text" [(ngModel)]="recipe.difficulty" placeholder="Difficulty"><br>
    <input type="number" [(ngModel)]="recipe.portions" placeholder="Portions"><br>
    <br>
    <button (click)="addRecipe()">Add</button>
</div>
